@charset "utf-8";

/* 全局样式 */
body,
h1,
fieldset {
	margin: 0;
}
fieldset,
legend { padding: 0; }

input {
	outline: none;
	padding: 5px;
	border: 1px solid #ccc;
	font-size: 14px;
}

select {
	outline: none;
}

body {
	font-family: "Helvetica Neue", Helvetica, "PingFangSC-Light", "Hiragino Sans GB", "Heiti SC","microsoft yahei ui", "Microsoft YaHei", "WenQuanYi Micro Hei","Segoe UI", Arial, sans-serif;
	font-size: 14px;
	color: #333;
}

a {
	color: #333;
	font-size: 14px;
	text-decoration: none;
}

/* header样式 */
.header {
	overflow: hidden;
	border-bottom: 1px solid #ccc;
	background-color: #efefef;
}

.header>a {
	float: left;
	width: 180px;
	height: 36px;
	margin: 10px 30px;
	text-indent: -9999px;
	background: url(../imgs/googlelogo.png) no-repeat;
	-webkit-background-size: contain;
	background-size: contain;
}

.header span {
	float: right;
	margin-top: 20px;
	margin-right: 30px;
}

.signupBtn,
.submitBtn {
	padding: 8px 15px;
	color: #fff;
	background: #4B8DF8;
}

/* main样式 */
.main {
	width: 910px;
	margin: 0 auto;
	overflow: hidden;
}

.main h1 {
	margin: 20px 0;
	text-align: center;
	font-size: 36px;
	font-weight: 100;
}

.signImg {
	float: left;
	width: 410px;
}

/* signInfo */
.signInfo {
	float: right;
	width: 410px;
	margin-top: 20px;
	margin-left: 30px;
	padding: 20px 30px;
	background: #efefef;
}

.signInfo fieldset { 
	border: none; 
	margin-bottom: 20px;
}

.signInfo legend { 
	font-weight: bold; 
	margin-bottom: 5px;
}

.element .pw,
.element .cPw {
	width: 398px;
}

.element select {
	height: 28px;
	line-height: 28px;
}

.element .familyName,
.element .firstName {
	width: 189px;
	margin-right: 8px;
}

.element .firstName { margin-right: 0; }

.element .years { width: 180px; }

.element .months { width: 65px; }

.element .date { width: 100px; }

.element .district { width: 410px; }

.signInfo .submitBtn { float: right; }

.footer {
	margin-top: 40px;
	padding: 10px;
	height: 24px;
	line-height: 24px;
	border-top: 1px solid #ccc;
	background: #efefef;
}

.footer .bl { 
	float: left; 
	margin-left: 20px;
}
.footer .bl a { margin-right: 20px; }

.footer .br { 
	float: right; 
	margin-right: 20px;
}
.footer .br a { margin-left: 20px; }